h1 {
   color: Red;
   font-size: 20px;
   font-family: 'Arial', sans-serif;
}

.box {
    background-color: Blue;
	text-align: center;
    height: 100px;
    width: 100px;
    display: inline-block;
	
	border-radius: 3px;
    margin-right: 4px;
	
	margin-bottom: 0px;
}

.box-row{
	margin-top: 0px;
	margin-bottom: 0px;
}

.box-text{
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 40%;
	display: none;
}

.dim {
	width: 50px;
}